<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-blog">
  <template>

    <style>
      :host {
        display: inline-block;
      }
    </style>



<p aling="center">
<input type="text" size="30" maxlength="30" value="Título" name="Titulo">
</p>
<p aling="center">
<textarea name="Post" rows="6" cols="40">Escribe aquí tu post</textarea>
</p>
<p aling="center">
<button type="button" name="posts" on-click="accionBoton">Añadir Posts</button>
</p>

  <template is="dom-repeat" items="[[Posts]]">
    <div>
      <h4> [[item.Titulo]] </h4>
      <h5> [[item.Texto]] </h5>
    </div>
  </template>
  </template>

  <script>
      Polymer ({
        is: 'my-blog',
        properties: {
          URL: {
            type: String,
            value: "https://api.mlab.com/api/1/databases/carlosbootcamp/collections/posts?apiKey=nnsV0D6jJTUZY-cBYomezF6JwgETCUjl"
          },
          Posts: {
            type: Array,
            notify: true
          }
        },
        listeners:{

        },
        created: function() {
            this.obtenerPost();
        },

        accionBoton: function() {
            this.grabarPost();
            this.obtenerPost();
        },

        grabarPost: function () {

            var peticion = new XMLHttpRequest();
            peticion.open("POST", this.URL, false);
            peticion.setRequestHeader("Content-Type","application/json");
            var titulo = document.getElementsByName("Titulo")[0].value;
            var texto = document.getElementsByName("Post")[0].value;
            console.log('{"Titulo":"' + titulo + '","Texto":"' + texto +'"}');
            peticion.send('{"Titulo":"' + titulo + '","Texto":"' + texto +'"}');
        },

        obtenerPost: function () {

          var response;
          var peticion = new XMLHttpRequest();
          peticion.open("GET", this.URL, false);
          peticion.setRequestHeader("Content-Type","application/json");
          peticion.send();
          console.log(peticion);
          response = JSON.parse(peticion.responseText);

          console.log(response);

          this.Posts = response;

          }

        })
  </script>



</dom-module>
