<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">
<dom-module id="my-bc-carlos-micomponente">
  <template>
    <style>
      :host {
        display: inline-block;
      }
    </style>
    <div><span>Mi primer componente Polymer</span></div>
    <div><span>[[saludo]]</span></div>
    <div><span>[[contador]]</span></div>

  </template>

  <script>
      Polymer ({
        is: 'my-bc-carlos-micomponente',
        properties: {
          saludo: String,
          contador: Number,
          listado: {
            type: Array,
            notify:true
          }
        },
        listeners:{
          'tap': 'incrementar'
        },
        incrementar: function() {
          this.contador +=1;
        }
      })
  </script>



</dom-module>
